*{
  box-sizing: border-box;
  padding:0px;
  padding-left: 0px;
  margin: 0px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #fff;
 border-bottom: 0.5px solid #e4e2e2;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  width: 100%;
}
.text{
  margin-top: -28vw;
  width: 50%;
}
.text p{
  width: 60%;
  margin-bottom: 20px;
}
.nav-links{
  color: black;
}
.hamburger{
  display: none;
}
.no-display{
  display:block;
}
ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
.first-page-section{
  display: flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 20px;
}

.first-container{
 
  display: flex;
  
}
.intro{
  width: 100%;
  margin-top: 100px;
  padding-left: 30px;
 margin-bottom: 20px;
}
h1{
  width: 250px;
  margin-bottom: 20px;
}
.intro p{
  width: 80%;
  margin-bottom: 20px;

}
.introImage{
  width: 60%;
  height: 100%;
  background-size: 170%;
  background-repeat: no-repeat;
  background-position:-3vw -11.7vw ;
  background-image: url(../images/bg-intro-desktop.svg);
  display: flex;
  justify-content: center;
  margin-bottom: -100px;
display: flex;
justify-content: end;
}
.phones{
  width: 90%;
 margin-bottom: -20px;
}
.request-btn{
  width: 150px;
  height: 35px;
  padding-left: 17px;
  padding-right: 17px;
  border: none;
  border-radius: 17px;
  color:white;
  background: linear-gradient(to right,   hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
 cursor: pointer;
}
.request-btn:hover{
  background: linear-gradient(to right,  hsl(136, 58%, 70%) , hsl(192, 65%, 61%));

}
header{
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 25px;
}
p{
 color:  hsl(0, 1%, 47%);
 
}
.card{
height: 120px;
width: 226px;
margin-top:  80px;

}
.card-image{
width: 50px;
margin-bottom: 26px;
}
.card-heading{
  margin-bottom: 10px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 50px;
  
}
.second-page-section{
    padding-top: 20px;
  margin-bottom: 100px;
  background-color:  hsl(220, 16%, 96%);
  padding-bottom: 130px;
  width: 100%;
  padding-left: 10px;
  display: grid;
  justify-content:center;
  margin-top: 50px;
}
.WHE{
  width: 62%;
    display: grid;
  justify-content:start;
}
.third-page-section{
  display: grid;
  justify-content: center; 
  background:  hsl(0, 0%, 98%);
  padding-top: 40px;
  margin-top: -100px;
  padding-bottom: 40px;
}
.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.article{
  width: max-content;
  background-color: #ffff;
  box-shadow: 0px 0px 4px 0.2px rgb(219, 218, 218);
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  height: 430px;
  border-radius: 6px;
}
.author-name{
  font-size: small;
  margin-top: 15px;
  margin-bottom: 15px;
}
.article-preview,.article-heading,.author-name{
  width: 226px;
  padding-left: 10px;
  padding-right: 10px;
  color:hsl(0, 1%, 47%) ;
}
.article-heading{
color: black;
margin-bottom: 10px;
}
.article-img{
  height: 160px;
  width: 230px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
footer{
  background-color: hsl(233, 26%, 24%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-container{
  display: flex;
  justify-content:center;
gap: 175px;
}
.footer-links{
  display: flex;
  flex-direction: column;
}
.footer-links a{
  width: 80%;
}
.SM-logos{
  margin-top: 30px;
  display: flex;
  gap: 1px;
  justify-content: center;
}
path:hover{
  fill:hsl(136, 65%, 51%);
 
}
svg{
  padding: 3px;
}
.social-media-logo{
  width: 100%;
height: 30px;
cursor: pointer;
padding: auto;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
 color:  hsl(136, 65%, 51%) ;
}
.link-container{
  display: flex;
}

.footer-btn{
  display: flex;
  justify-content: right;
margin-bottom: 30px;
}
@media (max-width:900px) {

  .text{
    margin-top: -63vw;
    width: 50%;
    text-align: left;
    margin-bottom: 170px;
  }
  .second-page-section,.third-page-section{
    display: flex;
    flex-direction: column;
    align-content: center;
  text-align: center;
  margin-top: 20px;
  }
  .third-page-section{
    margin-top: -100px;
  }
  .second-page-section{
    margin-top: 180px;
    padding-top: 170px;
  }
.phones{
  width: 90%;
  margin-bottom: 20px;
}
  .WHE{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .card,.article{
    text-align: left;
  }
  .footer-container{
    display: flex;
    justify-content:center;
    gap: 9vw;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
  }
  .footer-links a{
    width: 100px;
  }
}
@media (max-width:700px) {
  .first-page-section{
    
    
    flex-wrap: wrap-reverse;
       width: 100%;
       margin-bottom: 150px;
   
     }
  footer{
    height: max-content;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: max-content;
    text-align: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  .footer-links a{
    width: 100%;
  }
  .footer-btn{
display: grid;
justify-content: center;
    width: 100%;
  }
.second-page-section{
  margin-top: -30px;
}
.text{
  width: 50%;
  margin-top: -103vw;
  margin-bottom: 310px;
}
}

@media (max-width:590px) {
  .introImage{
    width: 100%;
    background-size:250vw;
    background-position:-220px -430px ;
    margin-bottom: 0px;
    justify-content: center;
  }
  .phones{
    margin-top: -80px;
    width: 100%;
    margin-bottom: 100px;
  }
  .text{
    margin-top: -420px;
    text-align: center;
    width: 100%;
  }
.text p{
  width: 100%;
}
.text h1{
  width: 100%;
}
  .logo1{
    margin-top: 20px;
  
   
  }
  .navbar{
    display: flex;
    justify-content:space-between;
    top: 0px;
   position: sticky;
   gap: 10%;
   width: 100%;
   padding-right: 30px;
  }
  .hamburger{
    margin-top: 20px;
    display: flex;
 height: 20px;
 width: 23px;
  }
 .no-display{
    display: none;
  }
  .navbar ul{
    background-color: white;
    position: absolute;
   
  }
  .display{
  display: grid;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 78%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 7px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  right: 10%;
  top: 0;
  height: 250px;
  }
  .link-container {
   display: none;
  }

  .intro{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-left: 20px;
  }
  .intro p{
    width: 100%;
  }
  h1{
    margin-top: -100px;
    width: 100%;
  }
  .introImage{
    width: 100%;
    background-position: 25% 110%;
    margin-bottom: 0px;
    justify-content: center;
  }
  .phones{
    margin-top: -80px;
    width: 100%;
  }
  .second-page-section{
    display: flex;
    flex-direction: column;
    align-content: center;
  text-align: center;
  margin-top: 80px;
  }
  .card{
    width: 80%;
    text-align: center;
  }
  .WHE{
    width: 100%;
  }
  .third-page-section{
    display: flex;
    flex-direction: column;
    align-content: center;
  text-align: center;
  }
  .article{
    text-align: left;
    width:250px;
    height: 400px;
    padding: 0px;
  }
  .article-img{
    width: 100%;
    height: 40%;
  }
  .article-preview,.article-heading,.author-name{
    padding-left: 7%;
    padding-right: 7%;
  }
  .article-preview{
    padding-right: 0px;
    padding-bottom: 10px;
    width: 90%;
  }
  p{
    padding: 0px;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: max-content;
    text-align: center;
    gap: 20px;
    padding-bottom: 30px;
  }
  .SM-logos{
    margin-left: 15px;
    margin-bottom: 20px;
  }
.footer-btn{
  margin-top: 20px;
  justify-content: center;
}
.text{
  margin-top: -340px;
  margin-bottom: 120px;
}

}